/* Puspose of this file is to extend or override the current styles of the events page */

/* 
	--- Events.asp ---
*/

.recent-events {
	margin-top: 50px;
	color: black;
}

.event-wrapper {
	border-bottom: 1px solid #aeaeae;
	padding: 10px 0px;
}

.event-location-wrapper {
	padding: 15px 0px;
}

.event-location-wrapper span {
	display: block;
	padding: 5px 0px;
}


.header {
	font-size: 2em;
	color: #040004  ;
}

.button-flat {

	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-size: 1.1rem;
	background-color: #5f5650;
    color: white;  
}

.button-flat:hover {
	background-color: #7f7670
}

.donation-button:hover {
	background-color: #0B486B;
	color: #FEFEFE;
}


/* bootstrap breakpoints */

/* Media Queries and Responsive Elements */

@media screen and (max-width: 768px) {
	.recent-events {
		margin-top: 50px;
	}

	.mainbar {
		width: 100%;
	}

	.sidebar-img {
		display: none;
	}

	.sidebar {
		display: none;
	}

	.event-wrapper {
		padding: 0px 20px;
	}

	.content .mainbar {
		width: 100%;
	}

	.content .mainbar .post_content {
		width: 100%;
	}

	.content .mainbar .article {
		padding: 0px 0px;
	}

}

/* Small devices (tablets, 768px and up) */


/* Medium devices (desktops, 992px and up) */


/* Large devices (large desktops, 1200px and up) */

